@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* theme.css */

:root {
  --gradient-primary: linear-gradient(135deg, hsl(320, 10%, 89%), hsl(338, 10%, 85%));
  --gradient-card-spotlight: linear-gradient(145deg, hsl(318, 24%, 81%), hsl(327, 26%, 85%));
  --gradient-hero: linear-gradient(135deg, hsl(48 100% 98%), hsl(45 100% 95%));
  --imp-background: hsl(323, 16%, 74%);

  --imp-text:hsl(343, 40%, 67%);
  --normal-text: hsl(0, 0%, 24%);
}

.dark {
  /* Dark theme - Purple palette */
  --gradient-primary: linear-gradient(135deg, rgb(29, 35, 60), rgb(27, 55, 63));
  --gradient-card-spotlight:  hsl(206, 42%, 27%);
  --imp-background: hsl(206, 42%, 27%);

  --imp-text:hsl(169, 73%, 54%);
  --normal-text: hsl(180, 29%, 97%);
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  overflow-y: auto;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Montserrat;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.iconHover svg {
  transition: color 0.3s ease, fill 0.3s ease;
  color: inherit;
  cursor: pointer;
}

/* .iconHover:hover svg {
  color: #00ffff;
  fill: #00ffff;
  cursor: pointer;
} */


